@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Responsividade em fontes */
html { font-size: calc(1em + 1vw); }


/*------------------------------------PREDEFINICÕES------------------------------------*/

body{
	font-family: Roboto;
}
button{
	outline-color: transparent;
}

/*------------------------------------INÍCIO------------------------------------*/

section.inicio{
	/*display: none;*/
	text-align: center;
	background: #dff9fb;
	height: 100vh;
	line-height: 10vh;
}
section.inicio h1{
	font-size: 3em;
	letter-spacing: 3vw;
	color: #1e3799;
	padding-top: 3vh;
}
section.inicio img{
	margin-top: 5vh;
	width: 50%;
}
section.inicio ul{

}
section.inicio button{
	position: relative;
	margin-top: 2vh;
	background: #4a69bd;
	border: none;
	color: white;
	width: 70%;
	height: 10vh;
	font-size: 1.3em;
	border-radius: 10px;
}


/*------------------------------------COMPRA E ESTOQUE------------------------------------*/

section.compra,section.estoque{
	display: none;
}
section.compra div.titulo,section.estoque div.tituloEstoque{
	display: flex;
	height: 15vh;
	line-height: 15vh;
}
section.compra h2,section.estoque h2{
	text-align: center;
	background: #2980b9;
	width: 100%;
	font-size: 2em;
	color: white;
}
section.compra div button.voltarVenda,section.estoque div button.voltarEstoque{
	width: 30%;
	background: #1abc9c;
	border: none;
	color: white;
	font-size: 1.5em;
}
.containerVenda, .containerEstoque{
	display: flex;
	justify-content: space-between;
	background: #ecf0f1;
	height: 70vh;
	padding: 0 4vw;
}
section.compra div ul li{
	height: 20%;
	line-height: 14vh;
}
section.compra div ul li div button,section.estoque div ul li button{
	border: none;
	border-radius: 2px;
	height: 7vh;
	width: 7vh;
	color: white;
	font-size: 1.5em;
	background: #2980b9;	
}

section.compra ul.total {
	background: #e67e22;
	justify-content: space-between;
	padding: 0 5vw;
	display: flex;
	color: white
	height: 15vh;
	line-height: 10vh;
}
section.compra ul.total li {
	color: white;
	text-align: center;
	background: #e67e22;
}
section.compra ul.total li h3 {
	line-height: 15vh;
}
section.compra ul.total li div{
	background: white;
	border-radius: 6px;
}
section.compra ul.total li h4 {
	color: black;
	margin: 2.5vh 10vw;
	/*background: white;*/
}
section.compra ul.total li button.vender {
	margin-top: 3vh;
	color: white;
	font-size: 1em;
	padding: 3vw;
	border: none;
	background: #d35400;
	border-radius: 6px;
}



/*------------------------------------ESTOQUE------------------------------------*/


.containerEstoque{
	height: 85vh;
}
section.estoque div ul li{
	height: 20%;
	line-height: 17vh;
}
section.estoque div ul li button{
	background: #e67e22;
}