@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Responsividade em fontes */
html { font-size: calc(1em + 1vw); }


/*------------------------------------PREDEFINICÕES------------------------------------*/

body{
	font-family: Roboto;
	background: #ecf0f1;
}
button{
	outline-color: transparent;
}

/*------------------------------------INÍCIO------------------------------------*/

section.inicio{
	/*display: none;*/
	text-align: center;
	background: #dff9fb;
	height: 100vh;
	line-height: 10vh;
}
section.inicio h1{
	font-size: 3em;
	letter-spacing: 3vw;
	color: #1e3799;
	padding-top: 3vh;
}
section.inicio img{
	margin-top: 5vh;
	width: 50%;
}
section.inicio ul{

}
section.inicio button{
	position: relative;
	margin-top: 2vh;
	background: #4a69bd;
	border: none;
	color: white;
	width: 70%;
	height: 10vh;
	font-size: 1.3em;
	border-radius: 10px;
}


/*------------------------------------COMPRA,ESTOQUE E HISTÓRICO------------------------------------*/

section.compra,section.estoque,section.historico{
	display: none;
}
section.compra div.titulo,section.estoque div.tituloEstoque,section.historico div.tituloHistorico{
	display: flex;
	height: 15vh;
	line-height: 15vh;
}
section.compra h2,section.estoque h2,section.historico h2{
	text-align: center;
	background: #2980b9;
	width: 100%;
	font-size: 2em;
	color: white;
}
.voltar{
	width: 30%;
	background: #1abc9c;
	border: none;
	color: white;
	font-size: 1.5em;
}
.containerVenda, .containerEstoque, .containerHistorico{
	display: flex;
	justify-content: space-between;
	height: 70vh;
	padding: 0 4vw;
}
section.compra div ul li{
	height: 20%;
	line-height: 14vh;
}
section.compra div ul li div button,section.estoque div ul li button{
	border: none;
	border-radius: 2px;
	height: 7vh;
	width: 7vh;
	color: white;
	font-size: 1.5em;
	background: #2980b9;	
}

section.compra ul.total {
	background: #e67e22;
	justify-content: space-between;
	padding: 0 5vw;
	display: flex;
	color: white
	height: 15vh;
	line-height: 10vh;
}
section.compra ul.total li {
	color: white;
	text-align: center;
	background: #e67e22;
}
section.compra ul.total li h3,section.compra ul.total li p{
	line-height: 15vh;
}
section.compra ul.total li div{
	background: white;
	border-radius: 6px;
}
section.compra ul.total li h4 {
	color: black;
	margin: 2.5vh 10vw;
	/*background: white;*/
}
section.compra ul.total li button.vender {
	margin-top: 3vh;
	color: white;
	font-size: 1em;
	padding: 3vw;
	border: none;
	background: #d35400;
	border-radius: 6px;
}



/*------------------------------------ESTOQUE------------------------------------*/


.containerEstoque{
	height: 85vh;
}
section.estoque div ul li{
	height: 20%;
	line-height: 17vh;
}
section.estoque div ul li button{
	background: #e67e22;
}



/*------------------------------------HISTÓRICO------------------------------------*/

.containerHistorico{
	height: 100vh;
	padding: 0;
	text-align: center;
}
section.historico div.tituloHistorico{
	position: fixed;
	width: 100%;
}
section.historico div ul{
	width: 100%;
	margin-top: 15vh;
}
section.historico div ul li{
	height: 20%;
	width: 100%;
	line-height: 17vh;
	font-size: 0.8em;
}
.legenda{
	border-bottom: 2px #636e72 solid;
	background: #b2bec3; 
}
.semBorda{
	border-right: none;
}
section.historico ul.datas li p{
	line-height: 4vh;
}
.primeiro{
	margin-top: 4.5vh;
}
.itens li img{
	width: 50%;
	margin-top: 4vh;
}


body div.info{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

body div.info div{
	width: 92vw;
	margin-left: 4vw;
	background: rgba(0, 0, 0, 0.95);
	margin-top: 5vh;
	height: 90vh;
	color: white;
	box-shadow: 0vw 1vw 10vw black;
	display: flex;
}
body div.info div ul{
	margin-top: 0;
}
body div.info div ul li{
	text-align: center;
	font-size: 1em;
}